<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
		        <string>SUBQUERY (
                  extensionItems,
                  $extensionItem,
                   SUBQUERY (
                     $extensionItem.attachments,
                     $attachment,
                     ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.image" ||
                     ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.file-url" ||
                     ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.heic" ||
                     ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.heif" ||
                     ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "com.apple.live-photo" ||
                     ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.jpeg" ||
                     ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.png" ||
                     ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "org.webmproject.webp" ||
                     ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.data"

                   ).@count == $extensionItem.attachments.@count
                ).@count > 0
                </string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
		<key>NSExtensionPrincipalClass</key>
		<string>ReceiveImage.ShareViewController</string>
	</dict>
</dict>
</plist>
